node_modules
package-lock.json
.env
.env.production
.env.staging

*.pem

.DS_Store

credentials.txt

logs/logs

bucket/private/2022
bucket/public/2022
_project-data
nodemon.json
permission-list.js
routes-list.js
thunder-tests
test.csv
bucket/public/favicon
NOTES.md
cronlog/*.txt
TODO.md
contact.csv
**/*.dbs*
CONFIG.md